.mid-com {
  
  min-width: 50%;
  height: 886px;
  /* max-width: 719px; */
  background-image: url("../assets/aset2.webp");
  background-size: cover;
  background-position: center;
  mask-image: url("../assets/tengah-with-image.webp");
  mask-size: 100% 886px;
  mask-repeat: no-repeat;
}
@font-face {
  font-family: "Bento";
  src: url("../assets/Bento-2OXaW.woff2") format("woff2");
}
.bento {
  font-family: "Bento", sans-serif;
}
@font-face {
  font-family: "Genshin";
  src: url("../assets/zh-cn.woff2") format("woff2");
}
.genshin {
  font-family: "Genshin", sans-serif;
}
/* pesan data masuk ke database */
.session-masuk {
  background-image: url("../assets/session.png");
}
/* breakpoint to change the background */
@media (min-width: 992px) {
  .letshiditxl {
    display: flex;
  }
  .letshiditlgmd {
    display: none;
  }
  /* .mid-com {
    background-image: url("../assets/tengah-with-image.webp");
  } */
  .menu .btn-menu-lain {
    position: absolute;
    top: 55px;
    right: 20px;
  }
}

@media (max-width: 992px) and (min-width: 576px) {
  .letshiditxl {
    display: none;
  }
  .letshiditlgmd {
    display: flex;
    flex-direction: column;
  }
  .left-com {
    max-width: 50%;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  /* .mid-com {
    background-image: url("../assets/lg/tengah-lg.png");
  } */
  .menu .btn-menu-lain {
    position: absolute;
    top: 2em;
    right: 3em;
  }
}
@media (max-width: 768px) and (min-width: 576px) {
  /* .mid-com {
    background-image: url("../assets/md/tengah-md.png");
  } */
  .menu .btn-menu-lain {
    position: absolute;
    top: 3em;
    right: 2em;
  }
}
@media (max-width: 576px) {
  .letshiditlgmd {
    display: none;
  }
  .letshiditxl {
    display: flex;
    flex-direction: column;
  }
  /* .mid-com {
    order: 1;
    background-image: url("../assets/sm/tengah-sm.png");
  } */
   .mid-com{
    order: 1;
   }
  .left-com {
    order: 2;
  }
  .right-com {
    order: 3;
  }
  .menu .btn-menu-lain {
    top: 3em;
    right: 1em;
    position: absolute;
  }
}
@media (min-width: 768px) {
  div .color-palette-used {
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  div .palette {
    width: 55px;
    height: 55px;
    border-radius: 15px;
    border: none;
  }
}
@media (max-width: 768px) {
  div .color-palette-used {
    display: none;
  }
}
/* assets import */
.componen1 {
  background-image: url("../assets/componen1.png");
}
.bait3 {
  background-image: url("../assets/bait-3.png");
}
