.form-edit {
    background-color: rgb(0, 0, 0, 0.5);
    max-width: 300px;
    border-radius: 30px;
    backdrop-filter: blur(7px);
    border: none;
    .form-kontak {
      display: flex;
      flex-direction: column;
      margin: clamp(15px, 1.7vw, 20px);
      h5{
        font-family: 'Genshin';
        color: white;
        margin-bottom: 15px;
      }
      .input-container {
        position: relative;
        font-size: 12px;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid white;
        font-family: "Genshin";
        border-radius: 15px;
        .label-kontak {
          position: absolute;
          top: -10px;
          left: 10px;
          background: #414144;
          color: white;
          padding: 0 5px;
          font-size: 11px;
          border-radius: 15px;
        }
        .icon-fa {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          color: white;
        }
        .input-kontak {
          width: 100%;
          background-color: transparent;
          color: white;
          outline: none;
          border: none;
          option {
            color: black;
          }
        }
        .nama-nim {
          padding-left: 35px;
        }
        .options-kontak {
          display: flex;
          justify-content: space-between;
          .option-kontak {
            display: flex;
            align-items: center;
            input {
              margin-right: 10px;
            }
            label {
              color: white;
            }
          }
        }
        .input-kontak::-webkit-calendar-picker-indicator {
          filter: invert(1);
        }
      }
    }
    button {
      background-color: #3cc1ca;
      width: 60px;
      border-radius: 20px;
      padding: 10px;
      border: none;
      font-size: 12px;
      margin: 0;
      font-family: 'Genshin';
    }
  }