.left-com {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-width: 25%;
  height: 886px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  .container1 {
    display: flex;
    justify-content: space-between;
    .huruf-jepang {
      font-family: "Noto Serif JP";
      font-size: 60px;
      font-weight: bold;
      color: #3cc1ca;
    }
    a {
      font-size: 18px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      font-family: "Inter";
      font-weight: bold;
      div {
        margin-right: 8px;
      }
    }
  }
  .tugas-pemweb {
    font-size: clamp(30px, 3.1vw, 35px);
    font-weight: bold;
    font-family: "Genshin";
    margin-top: 30px;
  }
  .tombol-hijau {
    margin-top: 5px;
    margin-left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #3cc1ca;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    color: white;
    font-size: 32px;
  }
  .gambar {
    border-radius: 100px;
    margin-top: -40px;
    height: 40%;
    overflow: hidden;
    z-index: 1;
    position: relative;
  }
  .container2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    margin-top: -50px;
    .container-07-dwmaf {
      display: flex;
      flex-direction: column;
      .kosong7 {
        font-size: clamp(60px, 6.5vw, 70px);
        font-weight: bold;
        font-family: "Genshin";
        color: red;
      }
      .dawam-af {
        font-size: clamp(15px, 1.7vw, 20px);
        font-weight: bold;
        font-family: "Genshin";
        margin-top: -10px;
      }
    }
    .huruf-jepang {
      font-family: "Noto Serif JP";
      font-size: clamp(120px, 12.5vw, 140px);
      font-weight: bold;
      color: red;
      margin-top: -60px;
    }
  }
  .desc {
    font-size: 12px;
    font-family: "Genshin";
  }
  .dua-tombol {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    .tombol-kontak{
      margin-right: 14px
    }
    a {
      background-color: #eceef9;
      border-radius: 23px;
      display: flex;
      align-items: center;
      padding: 10px;
      color: black;
      text-decoration: none;
      gap:8px;
      div{
        font-size: 12px; font-family:'Genshin'; font-weight:bold
      }
    }
  }
}
